<!--[if lt IE 9]><script type="text/javascript" src="{{ STATIC_URL }}tagcanvas/js/excanvas.js"></script><![endif]-->
<script src="{{ STATIC_URL }}tagcanvas/js/jquery.tagcanvas.js" type="text/javascript"></script>

<script type="text/javascript">
  jQuery(document).ready(function() {
    if(!$('#myCanvas_{{ id }}').tagcanvas({
      textColour: '',
      outlineColour: '',
      reverse: true,
      depth: 0.8,
      maxSpeed: 0.06,
      minSpeed: 0.01,
      initial: [0.1, -0.1]
    },'tags_{{ id }}') || (($.browser.msie) && ($.browser.version == '6.0'))) {
      // something went wrong, hide the canvas container
      $('#myCanvasContainer_{{ id }}').hide();
    }
  });
</script>
<div id="myCanvasContainer_{{ id }}">
  {% if title %}<h1>{{ title }}</h1>{% endif %}
  <canvas id="myCanvas_{{ id }}" width="200" height="200">
  </canvas>
  <div id="tags_{{ id }}">
    <ul>
    {% for tag in tags %}
      <li><a class="{{ tag.size }}" style="color:{{ tag.color }};" href="{{ tag.anchor }}" >{{ tag.tag }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>